In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from scipy.stats import randint, uniform
from xgboost.sklearn import XGBRegressor 
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

test=pd.read_csv("Test.csv")
train=pd.read_csv("Train.csv")
combine_data=test+train

# Replacing NaN with Mean 
Item_Weight=combine_data['Item_Weight']
combine_data['Item_Weight'] = Item_Weight.replace(np.NaN,Item_Weight.mean())

Item_Weight=combine_data['Item_Weight']
combine_data['Item_Weight'] = Item_Weight.replace(np.NaN,Item_Weight.mean())
print(combine_data)

Item_Weight=combine_data['Item_Weight']
Item_Weight = Item_Weight.replace(np.NaN,Item_Weight.mean())

ModuleNotFoundError: No module named 'xgboost'

# Feature Engineering

In [2]:


perishable = ["Breads", "Breakfast", "Dairy", "Fruits and Vegetables", "Meat", "Seafood"]
non_perishable = ["Baking Goods", "Canned", "Frozen Foods", "Hard Drinks", "Health and Hygiene", "Household", "Soft Drinks"]

data_train=pd.DataFrame(train)
# data_train=data_train.drop("Item_Type_new",axis=1)
Item_Type_new = pd.Series([]) 
mylist=[]
for i in range(len(data_train)):
    if data_train["Item_Type"][i] in perishable:
        Item_Type_new[i]="perishable"
    elif data_train["Item_Type"][i] in non_perishable:
        Item_Type_new[i]="non_perishable"      
    else:
        Item_Type_new[i]="not_sure"
#         

data_train.insert(2,"Item_Type_new", Item_Type_new) 
data_train.to_csv("new_Train.csv")

In [3]:
data_test=pd.DataFrame(test)
Item_Type_new = pd.Series([]) 
mylist=[]
for i in range(len(data_test)):
    if data_test["Item_Type"][i] in perishable:
        Item_Type_new[i]="perishable"
    elif data_test["Item_Type"][i] in non_perishable:
        Item_Type_new[i]="non_perishable"      
    else:
        Item_Type_new[i]="not_sure"
#         
data_test.insert(2,"Item_Type_new", Item_Type_new) 
data_test.to_csv("new_Test.csv")

In [4]:

Item_category_test = pd.Series([]) 
Item_category_test=data_test.Item_Identifier.str[:2]
data_test.insert(2,"Item_category", Item_category_test)
data_test.to_csv("new_Test.csv")

In [5]:
Item_category_train = pd.Series([])
Item_category_train =data_train.Item_Identifier.str[:2]
data_train.insert(2,"Item_category", Item_category_train)
data_train.to_csv("new_Train.csv")

In [7]:

for i in range(len(data_test)):
    if data_test['Item_category'][i] == "NC":
        data_test['Item_Fat_Content'][i]= "Non-Edible"
for i in range(len(data_train)):
    if data_train['Item_category'][i] == "NC":
        data_train['Item_Fat_Content'][i]= "Non-Edible"
data_train.to_csv("new_Train.csv")
data_test.to_csv("new_Test.csv")

C:\Users\ubaid\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\ubaid\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [10]:
Outlet_Years = pd.Series([])
price_per_unit_wt= pd.Series([])
for i in range(len(data_test)):
    Outlet_Years[i]=2019-data_test['Outlet_Establishment_Year'][i]
    price_per_unit_wt[i]=data_test['Item_MRP'][i]/data_test['Item_Weight'][i]

data_test.insert(4,"Outlet_Years", Outlet_Years)
data_test.insert(3,"price_per_unit_wt", price_per_unit_wt) 
data_test.to_csv("new_Test.csv")

Outlet_Years = pd.Series([])
price_per_unit_wt= pd.Series([])
for i in range(len(data_train)):
    Outlet_Years[i]=2019-data_train['Outlet_Establishment_Year'][i]
    price_per_unit_wt[i]=data_train['Item_MRP'][i]/data_train['Item_Weight'][i]

data_train.insert(4,"Outlet_Years", Outlet_Years)
data_train.insert(3,"price_per_unit_wt", price_per_unit_wt)

In [13]:
data_train.to_csv("new_Train.csv")

In [21]:

Item_MRP_clusters = pd.Series([])
for i in range(len(data_test)):
    if data_test['Item_MRP'][i]<69:
        Item_MRP_clusters[i]='1st'
    elif data_test['Item_MRP'][i]<136:
        Item_MRP_clusters[i]='2nd'
    elif data_test['Item_MRP'][i]<203:
        Item_MRP_clusters[i]='3rd'
    else:
        Item_MRP_clusters[i]='4th'
data_test.insert(4,"Item_MRP_clusters", Item_MRP_clusters)

In [23]:

Item_MRP_clusters = pd.Series([])
for i in range(len(data_train)):
    if data_train['Item_MRP'][i]<69:
        Item_MRP_clusters[i]='1st'
    elif data_train['Item_MRP'][i]<136:
        Item_MRP_clusters[i]='2nd'
    elif data_train['Item_MRP'][i]<203:
        Item_MRP_clusters[i]='3rd'
    else:
        Item_MRP_clusters[i]='4th'
data_train.insert(4,"Item_MRP_clusters", Item_MRP_clusters)

In [24]:
data_train.to_csv("new_Train.csv")
data_test.to_csv("new_Test.csv")

# Encoding Categorical to Numerical

In [26]:

Outlet_Size_num=pd.Series([])
Outlet_Location_Type_num=pd.Series([])
for i in range(len(data_test)):
    if data_test['Outlet_Location_Type'][i] == "Tier 3":
        Outlet_Location_Type_num[i]=0
    elif data_test['Outlet_Location_Type'][i] == "Tier 2":
        Outlet_Location_Type_num[i]=1
    else:
        Outlet_Location_Type_num[i]=2
data_test.insert(4,"Outlet_Location_Type_num", Outlet_Location_Type_num)

0       2
1       1
2       0
3       1
4       0
5       2
6       0
7       0
8       1
9       1
10      1
11      1
12      2
13      2
14      0
15      2
16      1
17      0
18      0
19      0
20      0
21      1
22      2
23      2
24      1
25      0
26      1
27      2
28      2
29      1
       ..
5651    0
5652    1
5653    1
5654    0
5655    0
5656    0
5657    2
5658    0
5659    2
5660    0
5661    0
5662    1
5663    0
5664    0
5665    0
5666    2
5667    2
5668    0
5669    0
5670    1
5671    2
5672    2
5673    0
5674    2
5675    2
5676    2
5677    0
5678    1
5679    1
5680    1
Name: Outlet_Location_Type_num, Length: 5681, dtype: int64

In [27]:
for i in range(len(data_test)):
    if data_test['Outlet_Size'][i] == "Small":
        Outlet_Size_num[i]=0
    elif data_test['Outlet_Size'][i] == "Medium":
        Outlet_Size_num[i]=1
    else:
        Outlet_Size_num[i]=2
data_test.insert(4,"Outlet_Size_num", Outlet_Size_num)
print(data_test['Outlet_Size_num'])

0       1
1       2
2       2
3       2
4       1
5       0
6       1
7       1
8       2
9       2
10      2
11      2
12      0
13      1
14      2
15      1
16      2
17      1
18      1
19      2
20      2
21      0
22      0
23      0
24      0
25      2
26      0
27      0
28      0
29      0
       ..
5651    2
5652    2
5653    0
5654    2
5655    1
5656    1
5657    0
5658    2
5659    1
5660    2
5661    1
5662    2
5663    1
5664    1
5665    1
5666    0
5667    0
5668    2
5669    1
5670    2
5671    1
5672    1
5673    1
5674    0
5675    1
5676    0
5677    1
5678    2
5679    2
5680    2
Name: Outlet_Size_num, Length: 5681, dtype: int64

In [29]:
data_test.to_csv("new_Test.csv")

In [30]:
Outlet_Size_num=pd.Series([])
Outlet_Location_Type_num=pd.Series([])
for i in range(len(data_train)):
    if data_train['Outlet_Location_Type'][i] == "Tier 3":
        Outlet_Location_Type_num[i]=0
    elif data_train['Outlet_Location_Type'][i] == "Tier 2":
        Outlet_Location_Type_num[i]=1
    else:
        Outlet_Location_Type_num[i]=2
data_train.insert(4,"Outlet_Location_Type_num", Outlet_Location_Type_num)

for i in range(len(data_train)):
    if data_train['Outlet_Size'][i] == "Small":
        Outlet_Size_num[i]=0
    elif data_train['Outlet_Size'][i] == "Medium":
        Outlet_Size_num[i]=1
    else:
        Outlet_Size_num[i]=2
data_train.insert(4,"Outlet_Size_num", Outlet_Size_num)

0       1
1       1
2       1
3       2
4       2
5       1
6       2
7       1
8       2
9       2
10      1
11      0
12      1
13      0
14      2
15      0
16      1
17      1
18      1
19      0
20      2
21      1
22      0
23      0
24      0
25      2
26      0
27      2
28      2
29      0
       ..
8493    2
8494    2
8495    0
8496    2
8497    0
8498    1
8499    0
8500    2
8501    2
8502    2
8503    0
8504    1
8505    1
8506    1
8507    0
8508    2
8509    2
8510    0
8511    1
8512    2
8513    0
8514    2
8515    1
8516    1
8517    0
8518    2
8519    2
8520    0
8521    1
8522    0
Name: Outlet_Size_num, Length: 8523, dtype: int64

In [32]:
data_train.to_csv("new_Train.csv")

# Pre-Processing Data

In [40]:
data_test['Item_Visibility'] = data_test['Item_Visibility'].replace(np.NaN,data_test['Item_Visibility'].mean())
data_test['Item_Visibility']=np.log(data_test['Item_Visibility']+1)

In [38]:
data_test['price_per_unit_wt'] = data_test['price_per_unit_wt'].replace(np.NaN,data_test['price_per_unit_wt'].mean())
print(data_test['price_per_unit_wt'])
data_test['price_per_unit_wt']=np.log(data_test['price_per_unit_wt']+1)

0        5.198178
1       10.520458
2       16.558479
3       21.193985
4       12.883724
5       11.954000
6        2.589323
7       12.883724
8       15.185345
9       31.226800
10       7.129313
11      12.957633
12      12.883724
13      25.561087
14       3.106257
15      24.716642
16      10.013945
17      10.768560
18      12.883724
19      14.243647
20      24.649014
21      12.495813
22       3.497451
23      12.883724
24       9.413115
25      30.875873
26       3.661800
27      27.706335
28      17.730449
29       9.105406
          ...
5651    19.598926
5652    19.062827
5653    11.878107
5654    19.872990
5655    12.883724
5656    12.883724
5657    16.131346
5658     7.914769
5659    37.770600
5660    21.978061
5661    12.883724
5662    21.876020
5663     4.498123
5664    13.338877
5665    12.883724
5666    21.172946
5667     8.741352
5668     7.381526
5669    12.883724
5670    22.071688
5671     3.972693
5672    33.688192
5673    16.419151
5674     2.756497
5675     4.880646
5676    13.458610
5677    22.255895
5678    11.874400
5679    14.027569
5680     8.399579
Name: price_per_unit_wt, Length: 5681, dtype: float64

In [41]:
data_train['Item_Visibility'] = data_train['Item_Visibility'].replace(np.NaN,data_train['Item_Visibility'].mean())
data_train['Item_Visibility']=np.log(data_train['Item_Visibility']+1)
data_train['price_per_unit_wt'] = data_train['price_per_unit_wt'].replace(np.NaN,data_train['price_per_unit_wt'].mean())
data_train['price_per_unit_wt']=np.log(data_train['price_per_unit_wt']+1)

0       26.861204
1        8.153581
2        8.092457
3        9.484115
4        6.031512
5        4.944762
6        4.224088
7       12.745886
8        5.985963
9        9.782365
10       3.859339
11       7.789741
12       9.634344
13       6.799898
14      12.014838
15       6.262378
16       9.775356
17       6.040156
18      12.745886
19      17.268554
20      13.308881
21      12.745886
22      13.459479
23      12.745886
24      11.914874
25       3.531231
26       5.534493
27       3.357631
28       7.680776
29      12.745886
          ...
8493    25.496927
8494     7.269158
8495    16.554100
8496    24.980889
8497    10.989377
8498     8.115505
8499     8.621052
8500     6.150752
8501    18.808202
8502    25.702993
8503     5.862224
8504    12.745886
8505    20.078514
8506    15.257449
8507    17.312755
8508    17.574819
8509    26.418543
8510    16.782493
8511    15.005200
8512     8.613662
8513     8.325350
8514     3.839360
8515     7.610087
8516     3.159075
8517     8.618400
8518    31.248623
8519    12.906563
8520     8.030415
8521    14.304189
8522     5.099122
Name: price_per_unit_wt, Length: 8523, dtype: float64

In [42]:
data_train.to_csv("new_Train.csv")
data_test.to_csv("new_Test.csv")

In [52]:
data_train['Item_Weight']=data_train['Item_Weight'].replace(np.NaN,data_train['Item_Weight'].mean())
data_test['Item_Weight']=data_test['Item_Weight'].replace(np.NaN,data_test['Item_Weight'].mean())

In [57]:
data_train=data_train.drop('Outlet_Location_Type',axis=1)
data_train=data_train.drop('Outlet_Size',axis=1)
data_train.head()

,Item_Identifier,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,FD,3.327235,1,2,4th,perishable,20,Low Fat,0.015920,Dairy,249.8092,OUT049,1999,Supermarket Type1,3735.1380
1,DRC01,5.92,DR,2.214145,1,0,1st,non_perishable,10,Regular,0.019095,Soft Drinks,48.2692,OUT018,2009,Supermarket Type2,443.4228
2,FDN15,17.50,FD,2.207445,1,2,3rd,perishable,20,Low Fat,0.016621,Meat,141.6180,OUT049,1999,Supermarket Type1,2097.2700
3,FDX07,19.20,FD,2.349861,2,0,3rd,perishable,21,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Grocery Store,732.3800
4,NCD19,8.93,NC,1.950402,2,0,1st,non_perishable,32,Non-Edible,0.000000,Household,53.8614,OUT013,1987,Supermarket Type1,994.7052

In [58]:
data_test=data_test.drop('Outlet_Location_Type',axis=1)
data_test=data_test.drop('Outlet_Size',axis=1)
data_test.head()

,Item_Identifier,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Type
0,FDW58,20.750000,FD,1.824255,1,2,2nd,not_sure,20,Low Fat,0.007508,Snack Foods,107.8622,OUT049,1999,Supermarket Type1
1,FDW14,8.300000,FD,2.444124,2,1,2nd,perishable,12,reg,0.037014,Dairy,87.3198,OUT017,2007,Supermarket Type1
2,NCN55,14.600000,NC,2.865537,2,0,4th,not_sure,21,Non-Edible,0.090685,Others,241.7538,OUT010,1998,Grocery Store
3,FDQ58,7.315000,FD,3.099821,2,1,3rd,not_sure,12,Low Fat,0.015156,Snack Foods,155.0340,OUT017,2007,Supermarket Type1
4,FDY38,12.695633,FD,2.630717,1,0,4th,perishable,34,Regular,0.106230,Dairy,234.2300,OUT027,1985,Supermarket Type3

In [62]:
#Convert categorical into numerical 
var_mod=['Item_Fat_Content','Outlet_Type','Item_Type']
number=LabelEncoder()

In [64]:
data_train['Outlet']=number.fit_transform(data_train['Outlet_Identifier'])
data_train['Identifier']=number.fit_transform(data_train['Item_Identifier'])

In [66]:
data_train.head()

,Item_Identifier,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Type,Item_Outlet_Sales,Outlet,Identifier
0,FDA15,9.30,FD,3.327235,1,2,4th,perishable,20,Low Fat,0.015920,Dairy,249.8092,OUT049,1999,Supermarket Type1,3735.1380,9,156
1,DRC01,5.92,DR,2.214145,1,0,1st,non_perishable,10,Regular,0.019095,Soft Drinks,48.2692,OUT018,2009,Supermarket Type2,443.4228,3,8
2,FDN15,17.50,FD,2.207445,1,2,3rd,perishable,20,Low Fat,0.016621,Meat,141.6180,OUT049,1999,Supermarket Type1,2097.2700,9,662
3,FDX07,19.20,FD,2.349861,2,0,3rd,perishable,21,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Grocery Store,732.3800,0,1121
4,NCD19,8.93,NC,1.950402,2,0,1st,non_perishable,32,Non-Edible,0.000000,Household,53.8614,OUT013,1987,Supermarket Type1,994.7052,1,1297

In [68]:
data_test['Outlet']=number.fit_transform(data_test['Outlet_Identifier'])
data_test['Identifier']=number.fit_transform(data_test['Item_Identifier'])
data_test.head()

,Item_Identifier,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Type,Outlet,Identifier
0,FDW58,20.750000,FD,1.824255,1,2,2nd,not_sure,20,Low Fat,0.007508,Snack Foods,107.8622,OUT049,1999,Supermarket Type1,9,1103
1,FDW14,8.300000,FD,2.444124,2,1,2nd,perishable,12,reg,0.037014,Dairy,87.3198,OUT017,2007,Supermarket Type1,2,1067
2,NCN55,14.600000,NC,2.865537,2,0,4th,not_sure,21,Non-Edible,0.090685,Others,241.7538,OUT010,1998,Grocery Store,0,1406
3,FDQ58,7.315000,FD,3.099821,2,1,3rd,not_sure,12,Low Fat,0.015156,Snack Foods,155.0340,OUT017,2007,Supermarket Type1,2,809
4,FDY38,12.695633,FD,2.630717,1,0,4th,perishable,34,Regular,0.106230,Dairy,234.2300,OUT027,1985,Supermarket Type3,5,1184

In [83]:
for i in var_mod:
      data_train[i]=number.fit_transform(data_train[i])

In [84]:
for i in var_mod:
      data_test[i]=number.fit_transform(data_test[i])

In [85]:
data_train['Item_Fat_Content']=data_train['Item_Fat_Content'].replace('LF','Low Fat')
data_train['Item_Fat_Content']=data_train['Item_Fat_Content'].replace('low fat','Low Fat')
data_train['Item_Fat_Content']=data_train['Item_Fat_Content'].replace('reg','Regular')
data_train.Item_Fat_Content.value_counts()

1    3612
3    2889
2    1599
0     222
5     117
4      84
Name: Item_Fat_Content, dtype: int64

In [86]:
data_test['Item_Fat_Content']=data_test['Item_Fat_Content'].replace('LF','Low Fat')
data_test['Item_Fat_Content']=data_test['Item_Fat_Content'].replace('low fat','Low Fat')
data_test['Item_Fat_Content']=data_test['Item_Fat_Content'].replace('reg','Regular')

1    2386
3    1935
2    1087
0     145
5      78
4      50
Name: Item_Fat_Content, dtype: int64

In [103]:
data_train=data_train.drop(['Outlet_Identifier','Item_Identifier'],axis=1)
data_test=data_test.drop(['Outlet_Identifier','Item_Identifier'],axis=1)

In [104]:
data_train.head()

,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Type,Item_Outlet_Sales,Outlet,Identifier,Item_Visibility_MeanRatio
0,9.30,FD,3.327235,1,2,4th,perishable,20,1,0.015920,4,249.8092,1999,1,3735.1380,9,156,0.253081
1,5.92,DR,2.214145,1,0,1st,non_perishable,10,3,0.019095,14,48.2692,2009,2,443.4228,3,8,0.303551
2,17.50,FD,2.207445,1,2,3rd,perishable,20,1,0.016621,10,141.6180,1999,1,2097.2700,9,662,0.264229
3,19.20,FD,2.349861,2,0,3rd,perishable,21,3,0.000000,6,182.0950,1998,0,732.3800,0,1121,0.000000
4,8.93,NC,1.950402,2,0,1st,non_perishable,32,2,0.000000,9,53.8614,1987,1,994.7052,1,1297,0.000000

In [90]:
Mean_Visibility=data_train['Item_Visibility'].mean()
data_train['Item_Visibility_MeanRatio']=data_train.apply(lambda x:x['Item_Visibility']/Mean_Visibility,axis=1)

In [95]:
Mean_Visibility=data_test['Item_Visibility'].mean()
data_test['Item_Visibility_MeanRatio']=data_test.apply(lambda x:x['Item_Visibility']/Mean_Visibility,axis=1)

In [105]:
data_test.head()

,Item_Weight,Item_category,price_per_unit_wt,Outlet_Size_num,Outlet_Location_Type_num,Item_MRP_clusters,Item_Type_new,Outlet_Years,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Type,Outlet,Identifier,Item_Visibility_MeanRatio
0,20.750000,FD,1.824255,1,2,2nd,not_sure,20,1,0.007508,13,107.8622,1999,1,9,1103,0.125807
1,8.300000,FD,2.444124,2,1,2nd,perishable,12,5,0.037014,4,87.3198,2007,1,2,1067,0.620216
2,14.600000,NC,2.865537,2,0,4th,not_sure,21,2,0.090685,11,241.7538,1998,0,0,1406,1.519528
3,7.315000,FD,3.099821,2,1,3rd,not_sure,12,1,0.015156,13,155.0340,2007,1,2,809,0.253953
4,12.695633,FD,2.630717,1,0,4th,perishable,34,3,0.106230,4,234.2300,1985,3,5,1184,1.780003

In [99]:

data_test.to_csv('new_Test.csv')

# Random Forest

In [114]:
predictors=['Item_Fat_Content','Item_Visibility','Item_Type','Item_MRP','Outlet_Size_num','Outlet_Location_Type_num','Outlet_Type','Outlet_Years','Item_Visibility_MeanRatio',
            'Outlet','Identifier','Item_Weight']
seed = 342
np.random.seed(seed)

In [115]:

cv = StratifiedKFold(n_splits=5, random_state=None)

In [117]:
params = {
    'max_depth': [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
    'gamma': [0, 0.5, 1],
    'n_estimators': [50,100,150,200],
    'learning_rate': [0.5, 0.75, 1], 
}

In [118]:
X=data_train[predictors]

In [119]:
y=data_train['Item_Outlet_Sales']

In [126]:
rf=RandomForestRegressor()

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=43)

In [131]:
rf.fit(X_train,y_train)

C:\Users\ubaid\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [132]:
original_values=y_test

In [133]:
predicted=rf.predict(X_test)

In [137]:
rmse = sqrt(mean_squared_error(original_values, predicted))

In [141]:
print("Root Mean Squared Error :",rmse)

Root Mean Squared Error : 1160.1000966309896

In [144]:
xgf=XGBRegressor()

NameError: name 'XGBRegressor' is not defined